.home-box-1 {
    .deleteVdo {
        display: flex;
        justify-content: center;
        width: 100%;
        .row {
            .col-lg-6 {
                .card {
                    .card-body {
                        height: 383px;
                        .row{
                            .col-6{
                                text-align: left;
                            }
                        }
                    }
                }
                iframe {
                    width: 100%;
                    height: 383px;
                }
            }
        }
    }
}
@media (max-width:500px) {
    .home-box-1 {
        .deleteVdo {
            .row {
                width: 95% !important;
                .col-lg-6 {
                    .card {
                        .card-body {
                            height: auto;
                            .row{
                                margin-left: 20px;
                                .col-6{
                                    text-align: left;
                                    h4{
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                        .card-footer{
                            .row{
                                margin-left: 15px;
                            }
                        }
                    }

                    iframe {
                        width: 100%;
                        height: 220px;
                    }
                    .LinkBtn {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}